# Should be present in release candidate branches.
# Changes default semver of new dependencies to be a tilde range
# (patches only) rather than a caret range (patches and minor versions)
save-prefix=~
